.firstColumn {
  text-align: left;
  background-color: cyan;
}
.column-small {
  text-align: left;
  background-color: red;
}

.column{
  width: 100%;
  text-align: left;

}

.filterLetters {
  font-size: 2em;
}
